.settingsButton {
    padding: 0.4rem 0.8rem;
}

.settingsButtonContent {
    display: flex;
    align-items: center;

    .caption {
        margin-right: 1rem;
        font-size: 1.4rem;
        margin-top: -2px;
    }
}

.settingsButton:hover {

    .settingsRing {
        border-color: #f1176a;
        transform: rotate(90deg);
    }

    .settingsTooth {
        border-bottom: 0.25rem solid #f1176a;
    }
}

.settingsButton:active {

    .settingsRing {
        transform: rotate(0deg);
    }
}

.settingsRing {
    width: 2.25rem;
    height: 2.25rem;
    border: 0.25rem solid #770562;
    border-radius: 7rem;
    position: relative;
    transition: all .4s ease;
}

.settingsRingDetail {
    position: absolute;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 7rem;
    top: -.25rem;
    left: -.25rem;
    border: 1px solid #04010d66;
}

.settingsToothContainer {
    position: absolute;
    top: -.5rem;
    left: 0.65rem;
    width: 0.5rem;
    height: 2.75rem;
}

.settingsTooth {
    border-bottom: 0.25rem solid #770562;
	border-left: 0.125rem solid transparent;
	border-right: 0.125rem solid transparent;
	height: 0;
	width: 0.5rem;
    margin-top: 1px;
    transition: all .4s ease;
}

.rotate30 {
    transform: rotate(30deg);
}

.rotate60 {
    transform: rotate(60deg);
}

.rotate90 {
    transform: rotate(90deg);
}

.rotate120 {
    transform: rotate(120deg);
}

.rotate150 {
    transform: rotate(150deg);
}

.rotate180 {
    transform: rotate(180deg);
}

.rotate210 {
    transform: rotate(210deg);
}

.rotate240 {
    transform: rotate(240deg);
}

.rotate270 {
    transform: rotate(270deg);
}

.rotate300 {
    transform: rotate(300deg);
}

.rotate330 {
    transform: rotate(330deg);
}

@media screen and (max-width: 56rem) {
	.settingsToothContainer {
        height: 34px;
    }

    .settingsRing {
        width: 28px;
        height: 28px;
    }

    .settingsRingDetail {
        display: none;
    }

    .settingsTooth {
        width: 0.4rem;
    }
}